
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$textGray: #3c3c3c;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$playfairDisplay: 'Playfair Display', serif;
$playfairDisplaySC: 'Playfair Display SC', serif;
$lora: 'Lora', serif;
$bodyFont: 'Goergia', serif;
$headerFont: 'Georgia', serif;


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}